<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <style>
      .h1 {
        text-align: center;
      }
    </style>
    <title>Festijam</title>
  </head>
  <body class="container">
    {% block page_content %}{% endblock page_content %}
  </body>
</html>
