<!-- templates/base.html-->
<!DOCTYPE html>
{% load static %}
<htmllang="en">
  <head>
    <metacharset="utf-8" />
    <metaname="viewport"content="width=device-width, initial-scale=1" />

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css"/>
    <linkrel="stylesheet"href="style.css" 
    />
    <title>Festival Playlist Generator</title>
  </head>
  <body class="container">
    {% block  page_content %}{% endblock page_content %}
  </body>
</html>