<!-- festivalPlaylistApp/templates/pages/home.html-->

{% extends "base.html" %} {% load static %} {% block page_content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css"
    />
    <title>Hello world!</title>
  </head>
  <body>
    <main class="container">
      <h1>Festival Playlist Creator</h1>
    </main>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
      :root {
        --pico-border-radius: 2rem;
        --pico-typography-spacing-vertical: 1.5rem;
        --pico-form-element-spacing-vertical: 1rem;
        --pico-form-element-spacing-horizontal: 1.25rem;
      }
      h1 {
        --pico-font-family: "Raleway", sans-serif;
        --pico-font-weight: 100;
        --pico-typography-spacing-vertical: 0.5rem;
        --pico-font-size: 2.5rem;
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $('select[name="select"]').on("change", function () {
          var festivalId = $(this).val();
          $.ajax({
            url: "/festival/" + festivalId + "/",
            type: "GET",
            success: function (data) {
              $("#artists").html(data);
            },
          });
        });
      });
    </script>

    <div class="selectFest">
      <select name="select" aria-label="Select" required>
        <option selected disabled value="">Select</option>
        {% for festival in festivals %}
        <option value="{{ festival.id }}">{{ festival.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div id="artists">
      <!-- This is where the list of artists will be displayed -->
    </div>
    
  </body>
</html>

{% endblock page_content %}
