{% extends "base.html" %} {% load static %} {% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css" />
    <title> Selected Artists </title>
</head>
<body>
    <h2> Artists Not Added to Playlist </h2>
    {% for artist in unselected_artists %}
        <li> {{ artist }} </li>
    {% endfor %}
</body>
</html>
{% endblock page_content %}