{% extends "base.html" %}
{% load static %}
{% block page_content %}
<html lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .center-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        margin-top: -100px;
    }

    .center-donation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -250px;
        height: 50vh;
    }
</style>
    <div class="center-content">
        <h2>Artists Successfully Added</h2>
        <p>Congratulations! The artists have been successfully added.</p>
        <a href="{% url 'home' %}">Create Another Playlist</a>
    </div>
    <div class="center-donation">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="partybear" data-color="#FFDD00" data-emoji="🍺"  data-font="Poppins" data-text="buy me a drink" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
    </div>

</html>
{% endblock page_content%}
